In [1]:
import os
from google.cloud import bigquery

os.environ["GOOGLE_APPLICATION_CREDENTIALS"] = "/Users/niall.whelan/Documents/Drivers & Other Key Files/adara-fds-fb74465cd635.json"
client = bigquery.Client()

##### Query table #####
query = """
        SELECT *
        FROM `adara-data-master.opinmind_prod.data_providers`
        """
query_job = client.query(query)

results = query_job.result()  # Waits for job to complete.

data = results.to_dataframe()

In [2]:
data

,modification_ts,id,name,do_pixel,has_offline_data,is_partner,is_advertiser,region_id,auto_approved,status,category_id,currency,europe_approved,mobile_partner,timezone,off_platform_use_allowed,dw_modification_ts
0,2017-10-24 21:32:18+00:00,1564,Blue Kai,0,NaN,1,0,1.0,0,T,NaN,USD,0,0,US/Eastern,0,NaT
1,2018-01-17 19:37:35+00:00,1576,DO NOT USE - 1576,1,NaN,0,1,1.0,0,N,NaN,USD,0,0,US/Eastern,0,NaT
2,2018-01-17 19:37:35+00:00,1174,Responsys - Shutterfly-Tr,1,NaN,0,0,NaN,0,None,NaN,None,0,0,Europe/Paris,0,NaT
3,2018-01-17 19:37:35+00:00,1255,Responsys - ShutterstockR,1,NaN,0,0,NaN,0,None,NaN,None,0,0,Europe/Paris,0,NaT
4,2018-01-17 19:37:35+00:00,1257,Responsys - Bigstock-RIID,1,NaN,0,0,NaN,0,None,NaN,None,0,0,Europe/Paris,0,NaT
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5269,2018-01-17 19:37:35+00:00,3504,Eelway,1,NaN,0,1,2.0,0,R,21.0,EUR,0,0,Europe/Paris,0,NaT
5270,2018-02-20 18:18:30+00:00,3330,SitaOnAir - ptnr - INACTIVE,1,NaN,0,1,2.0,0,I,21.0,EUR,0,0,Europe/London,0,NaT
5271,2018-05-28 11:49:51+00:00,4627,Fujitsu,0,NaN,0,1,2.0,0,R,21.0,EUR,0,0,Europe/London,0,NaT
5272,2019-07-03 13:14:47+00:00,5774,Tiqets,1,NaN,0,1,2.0,0,R,21.0,GBP,0,0,Europe/London,0,NaT
5273,2018-05-04 22:15:03+00:00,4569,WeChat,0,NaN,0,1,3.0,0,T,21.0,USD,0,1,Asia/Hong_Kong,0,NaT